.App {
  text-align: center;
  padding: 0px 0px 15px 0px;
  width: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.flex-input{
  display: flex;
  height: 200px;
  padding-left: 42px;
  padding-right: 42px;
}

.hotel, .booking-id, .checkin-date{
  flex-direction: row;
  flex-grow: 5;
}

.hotel{
  margin-top: 2%;
  border: 1px solid #aeaeae;
  border-radius: 3px;
  max-height: 48px;
  max-width: 300px;
  margin-left: 32px;
}

.hotel-input-label{
  text-align: left;
  padding-top: 16px;
  padding-left: 16px;
  color: #aeaeaeae;
}

.get-invoices-btn{
  text-align: right;
  padding-right: 208px;
  padding-top: 25px;
  padding-left: 32px;

  flex-direction: row;
  flex-grow: 2;
}
.booking-id, .checkin-date{
  max-width: 289px;
  margin-left: 20px;
  padding-top: 2%;
}
.checkin-date{
  margin-left: 28px;
  max-width: 289px;
}

.submit-button{
  height: 49px !important;
  color: white !important;
  border-radius: 3px !important;
  width: 160px;
  margin: 10px 5px;
}

.navbar{
  padding: 10px 0px;
  height: 36px;
  background-color: #1b2552;
  display: flex;
}

.logo, .contact-details{
  flex-direction: row;
  flex-grow: 1;
}
.material-icons{
  vertical-align: middle;
}

.logo{
  text-align: left;
  padding-left: 72px;
  padding-top: 10px;
}


.contact-details{
  text-align: right;
  display: flex;
  font-size: 14px;
  padding-top: 8px;
}
.phone-help, .email-help{
  flex-direction: row;
}
.phone-help{
  text-align: right;
  flex-grow: 4;
}
.email-help{
  padding-right: 72px;
  flex-grow: 1;
}


.booking-id-input{
  width: 289px;
  border: 1px solid #aeaeae;
  border-radius: 3px;
  padding: 1px;
  padding-left: 8px;
}

.date-input{
  border: 1px solid #aeaeae;
  border-radius: 3px;
  padding-left: 2px;
  text-align: center;
}

.hotel-input{
  max-height: 48px;
  margin-bottom: 32px;
}
.booking-id-prefix{
  padding-top: 15px;
}


.heading-text{
  text-align: left;
  padding-left: 72px;
  margin-top: 64px;
  margin-bottom: 0px;
}

.results-section{
  display: flex;
}

.invoice-table{
  padding-left: 72px;
  padding-right: 272px;
  margin: 16px 0px;
  flex-direction: row;
  flex-grow: 8;
}


.auth{
  margin-top: 16px;
  padding-left: 48.7%;
}




.empty-checkin-warning{
  color: red;
  font-size: 12px;
}

.invoice-fetch-message{
  flex-direction: column;
  flex-grow: 1;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  width: 85%;
  padding-left: 72px;
  padding-top: 12px;
}
