.send-mail{
	text-align: right;
  padding-right: 15%;
  padding-top: 2%;
}

.send-mail-button{
  height: 48px !important;
  width: 160px !important;
  border-radius: 4px !important;
  color: #088337 !important;
}
.table{
	max-width: 85%;
	min-width: 900px;
}
.table-row{
	color: #727171 !important;
	font-size: 16px !important;
}
.table-header{
	text-align: center !important;
	color: #4a4a4a !important;
	font-weight: bold !important;
}
.email-input{
	border: 1px solid #aeaeae;
	width: 320px !important;
	border-radius: 3px ;
	height: 48px !important;
	margin: 8px 0px;
}
.add-email-text{
	margin-top: 8px;
	color: #5768e9;
	font-size: 14px;
}
.button-section{
  text-align: right;
}
.send-mail-action-button{
  color: white !important;
  height: 40px !important;
  width: 168px;
  border-radius: 3px !important;
}
.dialog-paper{
	min-height: 500px !important;
	height: 590px !important;
	padding: 56px !important;
}
.small-col{
	width: 10px !important;
	padding: 8px 8px !important;
}
.large-col{
	width: 136px !important;
	padding: 8px 8px !important;
}
.med-col{
	width: 32px !important;
	padding: 8px 8px !important;
}
.table-row-content{
	text-align: center !important;
}
.button-border-section{
	margin-bottom: 56px;
    position: absolute;
    bottom: 0;
    width: 80%;
}
